[2015-10-17 09:41] slde-robin opened #1 "Improve Code"
There are some code design flaws in the project, if you find any please reference to this issue

[2015-10-17 09:48] slde-thespirit opened #2 "Support argument violations"
We need to find a solution to detect deprecated usage of method arguments

e.g.:
- formoption 'precision' is depracted for type 'number'
- validate() no longer accepts array of validation groups a scnd argument

[2015-10-17 09:51] slde-thespirit opened #3 "Add output formatters"
Output rendering is limited to console output right now. We need to add support for other output by custom output formatters.

[2015-10-17 09:53] slde-thespirit opened #4 "Add pregenerated rule sets"
Should we add pregenerated rule set for Symfony SE 2.7 and Symfony SE 2.8?
We could also add a rule set for deprecated php5 methods.

[2015-10-17 10:35] slde-robin opened #7 "Add Blacklist for deprecations"
If your project uses a deprecation heavily your whole output is full of it.
We should add a configuration to blacklist some deprecations.

[2015-10-17 10:41] umulmrum opened #8 "Default ruleset path"
When omitting the ruleset path, the detector uses "composer.lock" in the current directory. When a source path is given, this might be unexpected (in my case I executed the detector from the detector directory, passing the source path of the project to check. Then the composer.lock of the detector project was used).

I'm unsure what the desired behaviour is. Perhaps it is enough to echo the final

[2015-10-17 10:43] rnuernberg opened #9 "clean code claim when loadRulseSet fails"
expected output should let me know that no rules have been found. Instead, the command congratulates me on not having any deprecations.

According to the code hint, a null return value for ruleSet is not possible. However, the DirectoryLoader may return null when the directory contains no rule set. So I guess a null indicates, that no rulesets have been found - hence the assumption, that the messa

[2015-10-17 10:48] umulmrum opened #10 "Output failing file on syntax error"
If a source file fails to compile, the detector aborts with an error message like this:

[PhpParser\Error]
Syntax error, unexpected EOF on line 11

In large projects there might be abandoned files that don't even compile, so I think it would be great to have the path of the file that fails.

Perhaps it makes sense to continue the detection run even if some files fail.

[2015-10-17 10:56] meandmymonkey opened #12 "Add Travis Configuration"
Add a basic Travis config for supported PHP versions. As a first step, testing for the same PHP versions, cross-version testing will be added at a later stage.

[2015-10-17 11:37] umulmrum commented on #7
It might also be useful to be able to exclude certain files or directories.

[2015-10-17 11:58] slde-gorillaman commented on #10
Output has been corrected by #15, however execution is still halted

[2015-10-17 12:02] rnuernberg commented on #9
my expectation what the rule set is was wrong - there is no need for a fix.

[2015-10-17 12:02] #9 closed

[2015-10-17 12:06] slde-gorillaman commented on #10
#7 describes to blacklist files and folders. Maybe this can be used to exclude files that contain parser errors

[2015-10-17 12:10] DrSchimke opened #20 "Add composer support"
Being able to install the detector tool using "composer require --dev .../deprecation-detector" would be useful, imo.

[2015-10-17 12:36] slde-gorillaman commented on #10
In order to continue execution, the \SensioLabs\DeprecationDetector\RuleSet\Traverser::traverse method could be enhanced with a third optional parameter ```$exclude = array()``` which could hold paths to directories or files to be excluded in traversing the rule set.

As far as I can tell, this is the only possible point in code to include skipping of "broken" files or folders

[2015-10-17 12:39] derrabus commented on #10
Instead of maintaining a list of broken files, wouldn't it make more sense to catch the exception, report the file to be broken and skip it?

[2015-10-17 12:39] skug opened #22 "difficulties using composer.lock as source for rule generation"
Some composer packages with custom installation logic introduced by the "type" attribute are included in the composer.lock, but not represented by the expected top level directory structure in the vendor directory.
Example: some dependencies from phpdocumentor/phpdocumentor with type "phpdocumentor-template" like phpdocumentor/template-abstract.

This results in an InvalidArgumentException (The "[

[2015-10-17 12:43] slde-gorillaman commented on #10
That would be the optimal way, however the current setup does not allow to catch the exception, and continue traversing on an application level. The catch would have to be implemented in the Traverser, which would have to report back to the application with a list of exceptions for the console output.
Imho, that would be a rather ugly way.

As a quick thought, the Traverser could collect exception

[2015-10-17 12:45] meandmymonkey commented on #22
I don't have a solution at hand for now, but as for your question: Using the composer files is a huge performance improvement when finding class files in large vendor directories.

[2015-10-17 12:50] meandmymonkey commented on #22
Ping @slde-thespirit

[2015-10-17 13:03] skug commented on #22
just a first thought: instead of consuming the composer.json/.lock it could be perhaps more simple and reliable to use the composer autoload mapping (ideally the complete classmap after a composer install  --optimize-autoloader) to get a list of classes for rule generation. However I'm not deep enough into the generation of rules to see all the implications/reasons of the current approach right no

[2015-10-17 13:07] meandmymonkey commented on #12
see also #26 and #27

[2015-10-17 13:38] slde-gorillaman commented on #10
Sorry, I have been looking at the ruleset generation,  not the analysis of the own code.
But we have here the same problem (previous comment is wrong), when calling the ParsedPhpFileFinder::getIterator we get the parser errors, but I cannot figure out a clean way to report those errors back to the caller without interrupting execution. I'll try out collecting them and have the caller ask for them.

[2015-10-17 13:59] slde-gorillaman commented on #10
The PR #30 should fix this issue now

[2015-10-17 14:37] slde-gorillaman commented on #22
Indeed it seems like the composer.lock is not used for performance improvements.
The improvement I think @meandmymonkey  means is the usage of the composer autoloader in the AncestorResolver class https://github.com/sensiolabs-de/deprecation-detector/blob/master/src/AncestorResolver.php#L169

[2015-10-17 15:04] slde-thespirit commented on #22
its not really about performance as gorillaman mentioned. its about the cache. composer.lock is a way to detect the state of the vendor packages. so if you update your vendors or add another package the rule set would be regenerated or extended without any additional option needed.

[2015-10-17 19:23] MarvinKlemp opened #33 "Write Documentation"
The deprecation detector is mostly undocumented right now

We need at least:
- [ ] ruleset generation
- [ ] static code analysis
- [ ] type guessing
- [ ] detecting of deprecations
- [ ] rendering deprecations

[2015-10-17 19:28] MarvinKlemp opened #34 "Packagist"
The deprecation detector should be on packagist
@meandmymonkey

[2015-10-17 19:31] MarvinKlemp commented on #8
Actually the same problem occurred at the hackday, if the second argument is omitted we should use the vendor/, composer.lock or ruleset relative to the src/ directory argument

[2015-10-17 19:39] chr-hertel commented on #7
i agree on excluding certain files or directories, but i'm not sure about a deprecation blacklist.
I don't like the idea of extensive option usage like #17 provides as solution. maybe a blacklist by config file?
a config file would make it easy to exclude files and directories as well.

[2015-10-17 19:46] bestform commented on #7
The implementation in #17 provides an option to implement a file/folder exclude as well. How you define the filter options can be decided for every filter separately. I think, the option to exclude certain calls is suited for being configured on the command line, but I am open for discussion on that matter.
The reason I think this is a good option is that the normal use case will probably be:

* r

[2015-10-17 19:57] MarvinKlemp commented on #4
:+1:

[2015-10-17 20:02] MarvinKlemp opened #36 "We should provide a configuration format"
We should provide a configuration format in order to have readable commands.

The configuration should be able to:
- [ ] define which deprecations should be searched
- [ ] select an output formatter
- [ ] Add blacklisted violations #7
- [ ] If we provide rulesets online we could define different rulesets to run #4

[2015-10-17 20:11] MarvinKlemp commented on #7
after #17 we still need the implementation for other violations. May we should also add an output if a specific deprecation is filtered.

[2015-10-17 20:13] bestform commented on #7
Adding active filters to the output is a good idea.

[2015-10-18 10:10] MarvinKlemp opened #37 "Add a DeprecationDetector class"
To improve testability and seperation of concerns we should add a DeprecationDetector class.
It should be build and executed in the console command.

[2015-10-19 05:58] skug commented on #22
I see - understood. I've first just realized that they both scan the files/directories more or less in the same way to collect the drepecation rules wondering about the difference, but to use composer.lock for better cache fragmentation and as an indicator when single cache fragments needs to be rebuilt sounds reasonable - thanks for clarification.

The really small PR #39 handles the reported iss

[2015-10-19 10:50] DrSchimke opened #40 "Cannot redeclare class ..."
The project to be checked has same dependencies as the deprecation-detector (e.g. nikic/php-parser), so I get following error by running the check:
PHP Fatal error:  Cannot redeclare class PhpParser\Autoloader in /local/some_project/vendor/nikic/php-parser/lib/PhpParser/Autoloader.php on line 9

In my case I just can install the compoer-vendor-stuff with --no-dev to solve the problem, but I think,

[2015-10-19 12:00] slde-incal commented on #20
Covered by #34

[2015-10-19 12:00] #20 closed

[2015-10-19 12:50] slde-gorillaman commented on #40
Can you paste the full exception log? (run with -vvv option)
This way we can better determine at which point the of execution the exception occurs

[2015-10-19 13:55] DrSchimke commented on #40
[code]

[2015-10-19 15:29] MarvinKlemp commented on #12
Can I close this one ?

[2015-10-19 18:27] javiereguiluz opened #41 "Display the number of files analyzed"
In one of my projects I get this output:

[code]

I was expecting something like:

[code]

This message is output here: https://github.com/sensiolabs-de/deprecation-detector/blob/master/src/EventListener/CommandListener.php#L57

[2015-10-19 18:51] MarvinKlemp commented on #41
:+1:

[2015-10-19 19:05] meandmymonkey commented on #12
Yes, I guess... I was thinking about cross-version testing, but this is a feature for future versions, if at all. So we can close this for now, IMO.

[2015-10-19 19:10] meandmymonkey commented on #41
BTW, couldn't this also be named something like "(Command)StatsListener", instead of the generic "CommandListener"?

[2015-10-20 16:07] slde-thespirit commented on #40
Seems to be caused by using the autoloader of the project to find definition files in AncestorResolver.

[2015-10-20 16:29] DrSchimke commented on #40
My thoughts are: why the heck the deprecation-detector (or nikic/php-parser) includes/requires the _code to be inspected_. So the _code to be inspected_ occupies parts of the Php global context: loads conflicting classes, declares functions, ...

I think, somehow is would be better, if the code is just read (as is done by the tokenizer).

[2015-10-21 07:15] MarvinKlemp opened #46 "Move Tests from src/Tests/ to tests/"
Once the current PR's are merged I will change the test directory from src/Tests to /tests

[2015-10-21 07:39] stof opened #47 "Dependencies of the project should be locked"
As this is a CLI project, not a package meant to be installed as a dependency, you should commit the lock file. This way, you can control what the dependencies are (and your phar is more reproducible)

[2015-10-21 07:44] stof commented on #22
@slde-thespirit the solution could be to loo at the ``vendor/composer/installed.json`` file to find installation paths of packages, to be compatible with custom installers

[2015-10-21 07:46] DrSchimke commented on #46
:+1: :)

[2015-10-21 07:46] stof opened #48 "Your sensiolabs insight configuration contains meaningless rules"
It looks like you have copied the rules written for a Symfony project, while this is a CLI project

[2015-10-21 07:50] Pierstoval commented on #34
:+1: it could be better when adding it globally with composer (instead of using the phar archive)

[2015-10-21 07:53] Pierstoval opened #49 "Add processing informations during execution"
Right now the process can be quite long on medium projects.

I executed the deprecation detector on 2 projects, one took 103 seconds and the other 85 seconds.

The problem is that I don't know what it's doing until it finishes.

It could be cool to either:
* Display deprecations directly when they're found (instead of everything at the end).
* At least display the currently analyzed file (even wit

[2015-10-21 07:56] stof opened #51 "Composer bin files should not be mixed with the project bin files"
Currently, you ignore ``bin/phpunit`` to avoid committing it. But if any other dependency is adding a bin file, your ignore rules will not handle it.
It would be much simpler to avoid mixing your own bin file and the composer ones. The simplest way is probably to keep the default composer bin-dir, which would put them in ``vendor/bin``

[2015-10-21 08:01] stof opened #52 "Phars generated for releases should not contain dev dependencies"
Your phar attached to the 0.1.0-alpha1 release (with a typo in the tag name btw) contains all dev dependencies, making it much bigger than necessary (half of the dependencies are dev ones).

You should run ``composer install --no-dev --optimize-autoloader`` before generating the phar (and then run ``composer install`` again to reinstall dev dependencies locally after the phar generation)

[2015-10-21 08:02] stof opened #53 "Travis should use the preinstalled PHPUnit version"
Forcing to use PHPUnit 4.8 on all PHP versions is wrong, as it does not officially support PHP 7. The PHP 7 VM on Travis comes with PHPUnit 5 IIRC. So using it would be better

[2015-10-21 09:44] smatejic opened #54 "[PhpParser\Error] php-parser/lib/PhpParser/ParserAbstract.php on line 42"
[PhpParser\Error]
  Syntax error, unexpected ';', expecting ',' or ')' in file deprecation-detector/vendor/nikic/php-parser/lib/PhpParser/ParserAbstract.php on line 42

Exception trace:
 () at deprecation-detector/vendor/nikic/php-parser/lib/PhpParser/ParserAbstract.php:275
 PhpParser\ParserAbstract->parse() at deprecation-detector/src/Parser/UsageParser.php:69
 SensioLabs\DeprecationDetector\Pars

[2015-10-21 10:03] smatejic commented on #54
apparently clearing the .rules resolved the problem

[2015-10-21 10:03] #54 closed

[2015-10-21 15:20] MarvinKlemp commented on #52
:+1:
Thanks my bad

[2015-10-21 15:33] MarvinKlemp commented on #47
:+1:

[2015-10-21 15:37] slde-thespirit commented on #22
that's a good hint. thanks! i'll have a look at that.

[2015-10-21 15:44] MarvinKlemp commented on #48
:+1:

Is there a CLI project default configuration ? I just find the whole configuraion: https://insight.sensiolabs.com/help/insight-yml-configuration.html

[2015-10-21 15:47] #51 closed

[2015-10-21 15:48] #47 closed

[2015-10-21 15:49] #1 closed

[2015-10-21 16:04] javiereguiluz opened #56 "Consider simplifying its use as a global tool"
First of all, thanks for publishing this cool and useful tool.

I plan to use this tool similarly to `phpunit` and `php-cs-fixer`. I've built the PHAR file and installed in the global `bin` directory. But this project could provide the PHAR already built (like other projects do) to simplify its use.

Besides, this PHAR could also provide "self-updating" feature (such as PHP-CS-Fixer, Composer, the

[2015-10-21 16:54] slde-incal commented on #56
Yes, this is the plan. We are however focusing on completing and stabilizing the base functionality for now - but PRs for this are definitely welcome!

[2015-10-21 16:55] slde-incal commented on #46
:+1: +1:

[2015-10-21 18:25] #46 closed

[2015-10-21 18:32] MarvinKlemp commented on #56
I would love to see it integrated in the php world :)

Actually we provide a prebuild PHAR, but still an installer would be a much easier way to install the tool.
https://github.com/sensiolabs-de/deprecation-detector/releases

[2015-10-22 08:06] stof commented on #48
Well, your ``exclude_patterns`` config does not make sense for this project. there is no such file

[2015-10-22 12:29] jenkoian opened #62 "Detect PSR-0 usage"
Perhaps out of scope for this tool, but am interested in hearing your feedback.

Add a check for the now deprecated PSR-0 standard http://www.php-fig.org/psr/psr-0/

I guess you would need to check the composer.json which is why I'm not sure if in scope for this tool.

[2015-10-23 08:44] #12 closed

[2015-10-23 08:47] meandmymonkey commented on #3
I'm starting with the JUnit output

[2015-10-23 08:53] fsevestre opened #63 "Fatal error on abstract constructor"
I'm having a fatal error when the parser traverse an abstract constructor `abstract public function __construct($host);`:

[code]

[2015-10-23 10:59] slde-gorillaman commented on #62
Since we do use the composer.lock if available, the check could be included for a composer.json
I think we anyway need to parse the composer.json in case the vendor directory has a non-default path

[2015-10-23 15:08] smatejic opened #64 "Deprecation $this->get('request')"
Running deprecator detects $this->getRequest() but i found some very old code that was using in Controller

$this->get('request')

which will be deprecated in 3.0

/**
     * Gets a container service by its id.
     *
     * @param string $id The service id
     *
     * @return object The service
     */
    public function get($id)
    {
        if ('request' === $id) {
            @trigger_erro

[2015-10-24 13:52] MarvinKlemp commented on #64
Thanks I'll fix this one later :) !

[2015-10-24 13:54] MarvinKlemp commented on #63
:+1:
I'll fix this one later today.

[2015-10-26 08:37] smatejic opened #66 "Yaml::parse"
Using Yaml::parse is also deprecated and it needs rule

$config = Yaml::parse(file_get_contents($someConfigFile));

The original function
 /**
     * Parses YAML into a PHP array.
     *
     * The parse method, when supplied with a YAML stream (string or file),
     * will do its best to convert YAML in a file into a PHP array.
     *
     *  Usage:
     *  <code>
     *   $array = Yaml::parse(fi

[2015-10-26 09:20] xabbuh commented on #66
The `@deprecated` annotation was not added by intent in core as only parts of the method are deprecated (just the feature to be able to use a filename instead of a YAML string).

[2015-10-26 09:47] smatejic commented on #66
Yes but the new way to do that stuff suggested by docs is replacing
Symfony\Component\Yaml\Yaml;
with
Symfony\Component\Yaml\Parser;

and then replace
$yml = Yaml::parse($path);
with
$parser = new Parser();
$yml = $parser->parse(file_get_contents($path));

The way it is now, there was a merge to fix this problem by adding file_get_contents($path) but as suggested in Doc it will be removed in 3.0

[2015-10-26 14:57] NicoHaase opened #68 "Detect usage of scopes in the container"
According to https://github.com/symfony/symfony/pull/15693, the scope concept of Symfony is removed in v3. It would be cool to add a detection for this to this tool to ease the migration of existing projects

[2015-10-26 15:21] MarvinKlemp commented on #68
At the moment we don't parse any configuration in order to detect deprecations, but IMO we could add a check in later a version :+1:

[2015-10-26 15:56] slde-gorillaman commented on #68
:+1:

[2015-10-26 16:01] slde-gorillaman commented on #66
I think this discussion would be better held in the according repository, however we could include files which contain trigger_error and E_USER_DEPRECATED in the search for deprecations.

[2015-10-26 16:03] slde-gorillaman commented on #64
I think this is a similar problematic as #66

[2015-10-26 16:06] MarvinKlemp commented on #64
The problem is that the detector only checks the return type of `$container->get()` but `$container->get('request')` returns a request object which is not deprecated

[2015-10-26 21:57] xabbuh commented on #66
I still think that this isn't an issue you can resolve with static code analysis (you can hardly tell if the passed value is a filename or simply a YAML string).

[2015-10-26 22:35] slde-flash commented on #66
i am :-1: - guessing filenames based on strings is very error prone.

[2015-10-27 19:38] #63 closed

[2015-10-27 19:39] #10 closed

[2015-10-27 19:47] MarvinKlemp commented on #66
IMO we could implement something like a warning, because it is like @xabbuh said impossible to know the value of variables.

[2015-10-27 21:02] xabbuh commented on #64
Having a service named `request` generally isn't deprecated (for example, you can use the component without the rest of the framework and have such a service in your project).

[2015-10-29 11:56] WouterJ commented on #56
Why should it use a phar and not just rely on `composer global require ...`?

[2015-10-29 11:57] javiereguiluz commented on #56
Because `composer global require` is considered "a bad practice" and even "dangerous" by some developers.

[2015-10-29 13:30] MarvinKlemp opened #70 "Add warnings for possible deprecations"
May we should add warnings for unsure deprecations like #66.

[2015-10-29 15:16] MarvinKlemp opened #71 "Fix anonymous classes"
The deprecation detector crashes if anonymous classes are used.

Part of PHPUnit that lets the detector break ([original file](https://github.com/sebastianbergmann/php-token-stream/blob/master/tests/_fixture/class_with_method_that_declares_anonymous_class.php)).
[code]
Some classes try to access the `name` or `namespacedName` attribute of an AST class node and generate an `Usage` with that name.
B

[2015-10-29 16:13] MarvinKlemp opened #72 "Implement ConsoleOutputRenderer tests"

[2015-10-29 16:18] MarvinKlemp opened #73 "Refactor ParsedPhpFileFinder"
At the moment we extend the `Symfony\Component\Finder\Finder` in `SensioLabs\DeprecationDetector\Finder\ParsedPhpFileFinder`.
IMO the ParsedPhpFileFinder should be stateless.

[2015-10-29 16:19] MarvinKlemp opened #74 "Implement ComposerLoader tests"

[2015-10-29 16:20] MarvinKlemp opened #75 "Implement DirectoryLoader tests"

[2015-10-29 16:25] MarvinKlemp opened #76 "Implement a ViolationDetector::getViolations test"

[2015-10-29 17:17] xabbuh commented on #71
@MarvinKlemp Do you have an example stack trace of such a failure?

[2015-10-29 18:52] MarvinKlemp commented on #71
@xabbuh updated

[2015-10-29 19:07] xabbuh commented on #71
@MarvinKlemp Can you check if #77 fixes this?

[2015-10-30 11:10] MarvinKlemp commented on #34
Done

[2015-10-30 11:10] #34 closed

[2015-10-30 11:12] MarvinKlemp commented on #7
@bestform do you want to add the missing filters ?

[2015-10-30 11:18] MarvinKlemp opened #78 "Implement FileLoaderTest"

[2015-10-30 11:19] MarvinKlemp opened #79 "Implement CheckCommand tests"

[2015-10-31 12:38] bestform commented on #7
@MarvinKlemp what do you mean exactly? The filters itself (if so: is there a list of missing filters?) or the information about active filters in the output?

[2015-11-03 18:04] MarvinKlemp commented on #7
if you want both :laughing:
But IMO we should wait until #45 is merged

[2015-11-06 15:47] slde-rorschach commented on #79
Pul request against restructure branch:
https://github.com/MarvinKlemp/deprecation-detector/pull/2

[2015-11-12 14:49] nielvrom opened #81 "A working example"
I've tested this deprecation detector on different Symfony projects but they are no violations in all of them.

Does someone has an example of a Symfony project and is willing to share it where the tool does find deprecations so I can see it working?

[2015-11-13 08:43] umpirsky commented on #81
@nielvrom Did you try https://github.com/sylius/sylius/ or https://github.com/orocrm/platform. I think it worked for them.

[2015-11-17 14:54] Soullivaneuh opened #82 "Exit code on deprecated usage detected"
IMO, deprecation-detector should exit with a code different from `0` if deprecated stuff is detected.

This could be used for some CI services.

[2015-11-17 14:55] Soullivaneuh commented on #82
Forgot this, I spoke too fast. :-)

https://github.com/sensiolabs-de/deprecation-detector/blob/master/src/Console/Command/CheckCommand.php#L162

[2015-11-17 14:55] #82 closed

[2015-11-23 10:44] slde-gorillaman opened #84 "Decouple Traverser from Container"
SensioLabs\DeprecationDetector\RuleSet\Traverser should have the finder injected instead of injecting the whole container. As of now we cannot control that the finder's instance is what we expect.

https://github.com/sensiolabs-de/deprecation-detector/blob/master/src/RuleSet/Traverser.php#L40

[2015-12-03 11:47] #71 closed

[2015-12-04 13:30] #79 closed

[2015-12-04 14:14] #52 closed

[2015-12-04 15:41] nask0 opened #89 "PHP fatal errors when run"
git clone <deprecation-detector-git-url>
composer install
box build
./deprecation-detector.phar

[code]

php -v
[code]

[2015-12-04 15:49] MarvinKlemp commented on #89
Looks like the code directories are not resolved correctly, if you use
`deprecation-detector.phar check src/ vendor/` it should work fine.

[2015-12-04 16:07] nask0 commented on #89
Maybe i mess up something IDK.
I tried invoking it in this ways, with the same result as in first post:
1. /var/www/html/deprecation-detector/deprecation-detector.phar check /var/www/html/project/src/
2. /var/www/html/deprecation-detector/deprecation-detector.phar check ./src
3. /var/www/html/deprecation-detector/deprecation-detector.phar check src/

[2015-12-04 16:27] MarvinKlemp commented on #89
No it's a bug
but if you use `/var/www/html/deprecation-detector/deprecation-detector.phar check /var/www/html/project/src/ /var/www/html/project/vendor/` it should work

[2015-12-14 06:39] haphan commented on #89
@MarvinKlemp Using absolute path does not work for me. This is a bug.

[2015-12-15 09:25] nask0 commented on #89
@haphan +1

[2015-12-16 21:02] BallisticPain commented on #89
Definitely a :bug: ... however, when fixed using #92 merged locally, I run into another error. I'm posting it into this thread since the thread title is `PHP fatal errors when run`.

[code]

[2015-12-17 11:33] MarvinKlemp commented on #89
@BallisticPain could you try #93 ?

[2015-12-17 13:26] #84 closed

[2015-12-17 13:28] #37 closed

[2015-12-17 15:50] #81 closed

[2015-12-17 17:39] BallisticPain commented on #89
@MarvinKlemp Sure thing. :)

[2015-12-17 17:53] BallisticPain commented on #89
Just to keep anyone having to run to #93. It did work for me.

Thanks!

[2015-12-18 02:55] haphan commented on #89
#93 works for me. However, we probably need a test to cover this case.

[2016-01-07 10:46] MarvinKlemp commented on #89
Fixes in #93

[2016-01-07 10:46] #89 closed

[2016-01-08 14:51] #76 closed

[2016-01-08 14:53] MarvinKlemp commented on #74
done in #93

[2016-01-08 14:53] #74 closed

[2016-01-08 14:56] #56 closed

[2016-01-08 14:56] #49 closed

[2016-01-08 14:56] #41 closed

[2016-01-19 13:27] dvitharanage commented on #40
Has this been fixed yet ?

I've got the same issue, --no-dev does not make any difference in my case.

[2016-02-02 13:27] whitewhidow opened #102 "Missing file vendor/autoload.php. But its there ...."
I keep getting

    Missing file vendor/autoload.php. Please run "composer install"!

But the file is defenantly there ...

[code]

Im sure its something wrong on my end, but i cant figure it out.

[2016-02-03 00:39] xabbuh commented on #102
How did you get the `deprecation-detector` file to the same directory as the `src` and `vendor` directories? Usually it's located in the `bin` subdirectory. Moving the file will make it look for the autoloading file in the wrong directory.

[2016-02-03 09:53] whitewhidow commented on #102
yep, had a brainfart, i had actually installed it globally, so the paths didnt make sense

thx

[2016-02-03 09:53] #102 closed

[2016-02-10 09:59] theofidry opened #103 "Upgrade to nikic/php-parser 2.0"
Would it be possible to do it? The 2.0 has been stable for some time now and is PHP7 compatible unlike the 1.0.

[2016-02-10 10:40] MarvinKlemp commented on #103
I'll check it out this weekend

[2016-02-10 10:43] theofidry commented on #103
Cheers

[2016-02-10 11:01] theofidry commented on #53
That would also speed up the build ;)

[2016-02-10 11:08] theofidry opened #105 "Checks against your own code"
If I understand right right now running `check script ruleset`, it check any usage of deprecated call inside script based on the `@deprecated` annotations defined by the ruleset (usually `vendor` or `composer.lock`).

However you might want to use this tool four handling migration in your own app, ex:

[code]

This is doable by running `deprecation-detector src src` for example, but I find it weir

[2016-02-11 09:12] MarvinKlemp commented on #105
Good catch :+1:

[2016-02-15 21:47] MarvinKlemp commented on #103
Right now we require php >= 5.3 to ensure the app is able to run on old systems.
PHP Parser Version 2.0 requires at least PHP 5.4

I can't say for sure that we will require 5.4 in order to use the parser version 2

[2016-02-15 22:14] theofidry commented on #103
And is there a plan for newer versions? It would be quite disappointing not to be able to use it for PHP7 nor any Laravel application (they are all shipping with psysh aka tinker which uses php-parser v2).

[2016-03-06 13:14] theofidry opened #108 "Rendering in Travis CI"
It would be nice if the CLI output would fit in small screens. Obviously not asking for making it readable on a phone but at least on a terminal like Travis CI or AppVeyor:

<img width="926" alt="screen shot 2016-03-06 at 13 12 40" src="https://cloud.githubusercontent.com/assets/5175937/13554342/5b96ee52-e39d-11e5-97c2-a00b78e65116.png">

[2016-03-06 21:47] #53 closed

[2016-03-16 14:58] strauss69400 opened #111 "Could not find package sensiolabs-de/deprecation-detector at any version..."
Hi,

when i try to install this bundle, i get this error :
[InvalidArgumentException]
  Could not find package sensiolabs-de/deprecation-detector at any version for your minimum-stability (stabl
  e). Check the package spelling or your minimum-stability

What should I do?
my symfony version is 2.8.

here is a part of my composer.json :`{

`    "require": {
        "php": ">=5.3.9",
        "symfon

[2016-03-16 15:01] slde-flash commented on #111
please take a look at https://github.com/sensiolabs-de/deprecation-detector#composer

the deprecation detector is a standalone project, better don't try to add it as a project dependency.

[2016-03-16 15:07] strauss69400 commented on #111
yes, i read the doc.i get this error when i install it with composer such as :
"composer global require sensiolabs-de/deprecation-detector".
do I install it with "Standalone installation" ?
thanks

[2016-03-16 15:19] #111 closed

[2016-04-01 10:57] MarvinKlemp opened #113 "Abstraction between the app and parser"

[2016-04-25 16:42] althaus opened #114 "\Twig_Extension_InitRuntimeInterface not recognized?"
Hey,

first: thanks for your nifty tool. It really eases upgrading. :)

I've got a custom TwigExtension which uses the @\Twig_Environment@ in a lot of places. Instead of refactoring all filters/functions I've implemented the @\Twig_Extension_InitRuntimeInterface@ as statet in the upgrade docs. Afterwards The deprecation detector still claims a deprecation.:

Cheers
Matthias

[2016-04-29 10:14] althaus opened #115 "Allow to configure the Finder"
Hey,

we've got a complex dev system setup and I need to set `followLinks()` in the Finder.

I'd be great, if I somehow could configure the Finder or have an explicit command option to follow symlinks.

Cheers
Matthias

[2016-04-29 10:35] prolong commented on #115
How can I help?

2016-04-29 13:14 GMT+03:00 Matthias Althaus <notifications@github.com>:

[2016-05-24 07:06] iltar opened #116 "Twig_Extension_GlobalsInterface usage not detected"
According to the docs, I have to implement `\Twig_Extension_GlobalsInterface` if I want to use `getGlobals()` and so I've done; `class AppExtension extends \Twig_Extension implements \Twig_Extension_GlobalsInterface`. However, I'm still getting this notice twice:

[code]

It seems like the usage is not suppressing this notice even though this is how it's supposed to be done.

[2016-05-27 07:50] iltar commented on #108
It would be cool to have a smaller table indeed, it would also make pasting things on GH easier.

[2016-05-30 14:19] MarvinKlemp commented on #108
I started to develop #109 but wasn't really happy with it.
What about #117 ?

[2016-08-02 15:03] adrienbrault opened #119 "Cannot install with symfony3"
https://github.com/symfony/symfony/blob/be4255e5bc2bfd77951aa579e3444ce73b8e2d91/composer.json#L93

I get:

[code]

[2016-11-29 11:19] ntoniazzi opened #120 "Use xdebug.file_link_format"
It would be very useful if the report generator made use of [xdebug.file_link_format](https://xdebug.org/docs/all_settings#file_link_format) to generate links to the deprecations.

[2016-12-17 13:12] craigh opened #122 "bug detecting by-reference use?"
please see http://stackoverflow.com/questions/41198220/how-to-re-code-php-assign-by-reference-usage/41198841 for full explanation.

basically, I am getting `Using deprecated language feature assign by reference(&=) Since PHP 5.3 use normal assignment instead.`

 - [deprecation log](https://travis-ci.org/zikula/core/jobs/184641360#L875-L878)
 - [class being checked](https://github.com/zikula/core/b

[2016-12-19 11:51] slde-robin commented on #122
👍
Looks like an error in the tool.

Can you fix this ?

https://github.com/sensiolabs-de/deprecation-detector/blob/master/src/Visitor/Usage/FindLanguageDeprecations.php#L35

[2017-02-15 09:48] slde-robin commented on #122
#123

[2017-02-15 09:48] #122 closed

[2017-02-23 20:23] arderyp opened #124 "Include vendor deprecation warnings"
Firstly, thanks for the awesome tool!

I've run it against my codebase with:

[code]

It found lots of helpful things to cleanup.  Now when I run it, nothing is found.  However, if I go to one of my views, I do see deprecation warnings in the profiler related to my Twig dependency.  It's not my issue, but the related deprecation is discussed here: https://github.com/twigphp/Twig/issues/2267

If th

[2017-02-24 08:02] Blackskyliner opened #125 "Symmetric array destructuring results in 'Syntax error'"
When I run the deprecation detector on a codebase using PHP 7.1 which is using the new [Symmetric array destructuring](http://php.net/manual/de/migration71.new-features.php#migration71.new-features.symmetric-array-destructuring) feature I get the following error:

[code]

I don't know if it's an limitation of used php functions which results in that error, just wanted to note that it currently not

[2017-02-24 08:05] Blackskyliner commented on #125
After posting I realized, maybe it's an limitation of https://github.com/nikic/PHP-Parser ?

[2017-02-28 08:24] slde-robin commented on #124
Actually the tool doesn't check if there are any deprecations in your twig templates.

[2017-02-28 16:58] arderyp commented on #124
Right, that's the reason I opened the issue, so there could be some discussion about it.

Do you think this type of functionality could be added?  I'm thinking beyond templates specifically.  Do you think the tool could find and report all deprecation warnings that the symfony profiler would report? That would be the ultimate goal, I think.

Sent from a phone

[2017-03-01 13:25] slde-robin commented on #124
The profiler gathers the warnings by actually executing the code.
The detector does not execute the code.

To add Twig support we would need a twig parser and so on... IMO thats too much.

But you could check your compiled Twig templates in the cache dir for deprecations. Right now I don't have the time to test that myself.

[2017-03-01 17:07] arderyp commented on #124
Awesome, thanks for the very helpful info.

Sent from a phone

[2017-03-29 09:54] scaytrase commented on #103
Any updates?

[2017-04-08 10:23] slde-robin commented on #125
Can you test the master ?

[2017-04-08 10:23] #119 closed

[2017-04-08 10:24] slde-robin commented on #103
Can you checkout the master ?

[2017-04-08 12:11] scaytrase commented on #103
Looks good with php 7.1

[2017-04-08 16:17] theofidry commented on #119
For people encountering this issue: use a PHAR (which you can keep track of with https://github.com/tommy-muehle/tooly-composer-script) or install it in another `composer.json` inside your project (cf. https://github.com/bamarni/composer-bin-plugin)

[2017-04-11 05:30] Blackskyliner commented on #125
Yepp, it's now working.
I'll close the issue then.

(You'll need to update packagist reference as I had to checkout directly from github instead of using my require-dev instance of the project, as it would not update)

[2017-04-11 05:30] #125 closed

[2017-07-01 15:17] placid2000 opened #131 "No violations found"
I installed deprecation-detector on dev-master and I'm on Symfony 2.8

When I run `sh bin/deprecation-detector check src/ vendor/`, it says

Even that their are a lot of deprecations!
For some reason it doesn't find any.. Did I miss anything ?

[2017-07-05 11:54] slde-robin commented on #131
Can you run it in verbose mode ?

[2017-07-05 12:45] placid2000 commented on #131
I run : ./bin/deprecation-detector check src/ --verbose

Result:
Deprecation detection: 261/261Finished searching for deprecations.

Rendering output...

Finished rendering output.

There are no violations - congratulations!
Checked 261 source files in 39.297 seconds, 94 MB memory used

Here is just one example of deprecation in the Entity folder it should have found since addViolationAt is deprec

[2017-07-13 14:09] NicoHaase opened #132 "Deprecation detector won't install"
Hi there,
I wanted to install the detector using the global installation. The command `composer global require sensiolabs-de/deprecation-detector` yields the following error:

  Could not find package sensiolabs-de/deprecation-detector at any version for your minimum-stability (stable). Check the package spelling or your minimum-stability

It would be cool to give the proper command to all users,

[2017-07-15 09:13] ixarlie commented on #132
Try to change your global minimum stability to dev (this defaults to stable)
`$ composer global config minimum-stability dev`
`$ composer global config prefer-stable true`

Last command is optional and it will try to get stable versions over unstable ones if there are any.

[2017-07-15 09:20] NicoHaase commented on #132
I got it done anyway, but my point is not that I personally seeked help, but that the documentation about how to install lacks some details

[2017-07-31 11:16] jcchavezs opened #133 "False positives on PHP4 constructor for namespaced classes"
At the moment, a class including a method having the same name as the class is being considered as a warning as the tool marks it as a `PHP4 style constructor` however, [if a class includes a namespace this won't work as a constructor](https://wiki.php.net/rfc/remove_php4_constructors) and it is quite sure that the method having the same name as the class is not a constructor either (it is a very

[2017-08-02 09:25] smoench commented on #108
@MarvinKlemp #117 has been merged. This issue could be closed, right?

[2017-08-02 10:19] smoench commented on #103
@MarvinKlemp Could be closed. PhpParser has been upgraded to version 3.x

[2017-08-02 10:27] smoench commented on #40
Has been fixed with #128

[2017-08-02 10:33] smoench commented on #73
Has been fixed with #100

[2017-08-02 10:33] #73 closed

[2017-08-02 10:34] #103 closed

[2017-08-02 10:39] #40 closed

[2017-08-07 15:48] #133 closed

[2017-09-27 09:27] dereuromark commented on #36
Especially the output format (xml, json) is important for it to be used programatically.

[2017-12-04 14:10] achasseux commented on #131
I have the same behavior, this tool already returns `There are no violations - congratulations!`

[2017-12-04 15:11] MarvinKlemp commented on #131
is the project open source ? So I can try to recreate the problem ?

[2017-12-04 16:10] achasseux commented on #131
The issue comes from an incompatibility with phpdocumentor/reflection-docblock versions.
In your composer.json, you have mentioned
`"phpdocumentor/reflection-docblock": "~2.0 || ~3.0 || ~4.0"`

But in your [Visitor](https://github.com/sensiolabs-de/deprecation-detector/blob/master/src/Visitor/Deprecation/FindDeprecatedTagsVisitor.php#L107)  into `hasDeprecatedDocComment()` or `getDeprecatedDocComm

[2017-12-04 16:22] achasseux opened #138 "Method of subclass is not detected when parent class contains a deprecated method"
Exemple with symfony 3.4 :
- AppKernel is a subclass of Symfony\Component\HttpKernel\Kernel with a deprecated loadClassCache() method since symfony 3.3, but AppKernel is not detected
- web/app_dev.php calls the deprecated method for AppKernel
[code]

When you run
`./vendor/bin/deprecation-detector check web/ vendor/`
No violation detected.

I have noticed an issue in your [RuleSet](https://github.

[2017-12-12 16:43] Voltash commented on #131
I had the same problem with Symfony 2.8
I disabled cache and then the command started working correctly.

`php deprecation-detector.phar check src/ vendor/ --no-cache`

Also works if manually set cache dir

`php deprecation-detector.phar check src/ vendor/ --cache-dir=app/cache`

[2017-12-14 18:35] zskiredj opened #139 "Failed to create ".rules/C:\wamp\www\XXX": mkdir(): Invalid argument."
hello

i am unable to use the tool as i receive this error.

I found no solution in google.

thanks

[2017-12-19 10:05] vincentchalamon opened #140 "Supports Symfony 4"
I would like to install this tool (even in dev) in my project dev-dependencies: `composer req --dev sensiolabs-de/deprecation-detector:dev-master`. Installation failed because of `symfony/*` requirements limited to `~3.0`.

I'll try to open a PR to add Symfony 4 & PHP 7 supports.

[2017-12-19 10:09] MarvinKlemp commented on #131
@achasseux do you want to create a pr and fix it ?

[2017-12-19 10:17] theofidry commented on #140
@vincentchalamon alternatively don't install it as a dev dependency and use a PHAR or another `composer.json` file cf. [Managing your PHP dependencies](https://medium.com/@tfidry/managing-your-dependencies-in-php-321d584441ab) :)

[2017-12-19 13:22] achasseux commented on #131
@MarvinKlemp I can work on this issue next week, not before
I 'm OK to create a PR

[2017-12-28 13:45] bruno-ds opened #141 "cannot install globally with composer"
Hello,
using Composer version 1.5.6,
when I execute : `composer global require sensiolabs-de/deprecation-detector`,
I receive this error message :

[2018-01-01 13:38] xabbuh commented on #141
There is no stable release yet. You would need to install the package like this: `composer global require sensiolabs-de/deprecation-detector:^0.1@alpha`

[2018-01-02 09:07] bruno-ds commented on #141
Thank you,
perhaps, the readme.md could include this information here : https://github.com/sensiolabs-de/deprecation-detector#composer ?

[2018-03-01 15:29] balsama opened #142 "New release?"
Hello!

Are there any plans for tagging a new release of this? Any blocking issues we can help with?

The `~2.0` on `phpdocumentor/reflection-docblock` in the latest release is causing problems for us - and it was fixed by https://github.com/sensiolabs-de/deprecation-detector/pull/136 but hasn't made it into a release yet.

Thanks!

[2018-03-01 16:31] TomasVotruba commented on #142
What do you need stable release for?

[2018-03-01 16:34] balsama commented on #142
@TomasVotruba to be clear, it doesn't really matter if it's _stable_ or not. `0.1.0-alpha5` would be fine. It's just that we currently have to pull `dev-master` in order to get #136.

[2018-03-01 17:48] TomasVotruba commented on #142
I see. I was just curious, if you use this as production dependency in some project.

In case you need specific commit but not risky `dev-master`, you can lock vresion to specific commit:

[code]

Also works for PRs that are not merged yet :+1:  Just pick hash of commit and you can pull it as dependency.

[2018-04-20 12:50] bartrail opened #143 "Support of PHP 7.1"
I get a syntax error while testing on PHP 7.1 code:

[code]

[2018-05-14 12:08] sanpii opened #144 "Dependency conflict"
In a project requires `nikic/php-parser` in version 4.0, `deprecation-detector` throws an error due to incompatibilities between `php-parser` 3 and 4. I don’t understand why the phar uses local vendor instead of embeded.

Here minimals commands to reproduce the error:

[code]

And the error message, take attention to php file paths:
[code]

[2018-05-14 12:53] TomasVotruba commented on #144
Shameless plug: you might like @rectorphp

[2018-05-18 12:39] slde-robin commented on #143
Did you may miss the `:` in your example ?
`public function getValue() >:< ?int`

I tested it with a simple function
[code]
The PHP-Parser 3.x should support PHP until PHP 7.2.

[2018-05-31 14:08] pylebecq commented on #143
There's definitely something going on here. I have a similar issue when grouping use declaration.

When using in a file:
[code]
I have an error displayed in the output:
[code]

When replacing the group use declaration by multiple use:
[code]
The error is gone.

I'm running deprecation detector using the following docker image: https://github.com/jakzal/phpqa , which runs PHP 7.2.
I didn't looked d

[2018-08-14 14:45] #116 closed

[2019-06-26 08:34] PaddyLock opened #148 "Argument 1 passed to PhpParser\Node\Stmt\StaticVar::__construct() must be an instance of PhpParser\Node\Expr\Variable, string given"
when I run check I get the following error

`[Symfony\Component\Debug\Exception\FatalThrowableError]
  Argument 1 passed to PhpParser\Node\Stmt\StaticVar::__construct() must be an instance of PhpParser\Node\Expr\Variable, string given, called in /Users
  /patricklock/Sites/deprecation-detector/vendor/nikic/php-parser/lib/PhpParser/Parser/Php7.php on line 1854`

[2019-06-28 13:19] dbrumann commented on #148
Could you add the full stack trace (you can run the command with additional `-vvv` option to get the full error output), the code which you were checking and the command you were executing (which arguments)? Right now it's really hard to see how this error was triggered.

[2019-12-11 08:59] BThiebaut commented on #148
Hello, same problem here using php-cli 7.2, I hope it help

[code]

[2020-10-09 10:24] zergu commented on #143
Have similar issue.

`    public function __construct(
        string $name,
        ?string $category,
        ?string $brand,
        ?string $productUrl,
        ?string $imageUrl,
        ?string $localId,
        ?string $gtin
    ) {
        $this->name = trim($name);
        $this->category = trim($category) ?: null;
        $this->brand = trim($brand) ?: null;
        $this->productUrl = t